
.nav{
    padding:4;
    margin-left: 64px;
    margin-right: 64px;
    color:black;
    display: flex;
    justify-content: space-between;

}

#title{
    font-size: 22px;
    font-weight: bold;
    color: #F40469;
}

#sign{

    font-size: 16px;
    font-weight:600
}


.sec{
   
    background: url("assets/banner-image/banner-img.jfif");
  
    height: 100vh;
  
    background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display:flex ;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  
}

.banner-text{
    text-align: center;
    font-weight: 400;
    font-size: 56px;
    color: white; 
    
}

.search-container {
    display: flex;
    width: 50%;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
}

.location-icon {
    display: flex;
    align-items: center;
    padding: 0 10px;
   
    border-right: 1px solid #ccc;
}
.location-icon i {
    margin-right: 10px;
    color: #F40469;
}

.location-icon span {
    font-weight: bold;
}

.search-container input {
    border: none;
    padding: 10px;
    flex: 1;
    outline: none;
}

.search-container button {
    background-color: #F40469;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #F40420;
}

.download-section {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    justify-content: center;
    margin: auto ;
    margin: 80px 0;
}

.side-image {
    width: full; 
    height: auto;
    margin-right: 20px;
    border-radius: 4px;

}

.text-section {
   max-width: 400px;
}

.btn-dwn{
    border: 0px solid #ccc;
    border-radius: 20px;
    padding: 10px 26px;
    background-color:#F40469 ;
    color: white;
    font-size: 16px;
}

.text-section h2 {
    font-weight: 400;
    font-size: 48px;
} 
.text-section p {
    margin: 26px 0;
} 

.img-sec{
    
    display: flex;
    justify-content: space-between;
}
.pic5{
    margin: 80px 60px;
}
.img-sec h2{
    font-size: 32px;
    font-weight: 400;
}
.img-sec p{
    font-weight: 600;
}
.view{
    display: flex;
    align-items: center;
} 
.view p{
    margin-right: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 0px 30px;
   
    /* padding: 10px; */
  }
  
  .item1 {
    grid-row: 1 / 4;
  }

  .image-container {
    width: 100%; 
    max-width: 700px; 
    margin: 0 auto;
    
}

.controlled-image {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.delivery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.delivery-fee{
    display: flex;
    padding: auto 0;
    align-items: center;
}

.time {
    margin-right: 100px;
}
 
.order-sec h4{
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.order-sec{
    margin:80px 150px;
}

.order{
    display: flex;
    gap:40px;
    margin: 0 60px;
}

.card{
    Width:full;
    padding: 15px;
    border-radius: 30px;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
text-align: center;
}

.card h2{
    color: #F40469;
}

.card p{
    padding: 0 6px;
    font-size: 18px;
}

.card img{
    height: 120px;
    width: 120px;
}

.sec04{
  
   
        background: url("assets/section-04-image/banner04.png");
      
        height: 100%;
      
        background-size: cover;
   
       background-position: center;
       background-repeat: no-repeat;
 
       border-radius: 80px;
      
       display:flex ;
       flex-direction: column;
      padding: 100px;
        margin: 80px 60px;
    
}

.sec04 p{
    margin-right: 40%;
}

.btn-dwn2{
    border: 0px solid #ccc;
    border-radius: 20px;
    padding: 10px 26px;
    background-color:black ;
    color: white;
    font-size: 16px;
    margin-right: 60px; 
    
}
.twobtn{
    display: flex;
    color: white;
}
.twobtn p{
    font-size: 21px;
    font-weight: bold;
    
}

.banner-text2{
  
    font-weight: 400;
    font-size: 56px;
    color: white; 
}

.food-lover h1{

    text-align: center;
    font-size: 54px;
    font-weight: lighter;
    margin: 0;
}

.food-lover p{
    text-align: center;
    font-size: 20px;
    margin: 30px 20%;

}


.food-lover-bnr{
    background: url("assets/section-05-image/Rectangle.png");
      
    width: 610px;
    height: 350px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
 
    margin: 0 -350px;
   border-radius: 40px;
  
   display:flex ;
   justify-content: center; 
    align-items: center;
   color: white;
   text-align: center;

   flex-direction: column;

 
}

.food-text {

    font-size: 23px;
    line-height: 1.25;
    margin: 8px 0;
}
.food-lover-bnr p{
    color:#F40469 ;
    font-weight: 600;
    font-size: 18px;
}

.food-arrow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.spon-img{
    margin-right: 40px;
}
.sponser{

    margin: 60px 0;
    text-align: center;
}

.last-section{
    margin: 120px 0;
}
.footer-start{
    display: flex;
    align-items: center;
    margin: 60px;
}

.details{
    margin-left: 200px;
    display: flex;
    gap: 30px;
    font-weight:600;
}

.footer-img{
    position: relative;
    margin: -200px 0;
}
.img-foot{
    width: 100%;
  
    position: absolute;
    top:200px;
    z-index: 1; 
}

.footer{
    position: absolute;
    top: 200px;
    z-index: 2;
}

.footer-end{
    display: flex;
    margin:  0 60px;
    
}
.footer-address{
    margin-right: 300px;
}

.footer-details-section{
    display: flex;
    gap:40px;
}
.fooddev{
    color:#F40469 ;
}