
.header{
    padding:4;
    margin-left: 64px;
    margin-right: 64px;
    color:black;
    display: flex;
    justify-content: space-between;

}

#title{
    font-size: 22px;
    font-weight: bold;
    color: #F40469;
}

#sign{

    font-size: 16px;
    font-weight:600
}

